<h3 class="text-center"> Ahoy, <%= @name %> ! </h3>
<div class="text-center"></div>

<% 3.times do %><br><% end%>

<div>
  Floating ships: <%= @board.floating_ships? %>
</div>

<% 3.times do %><br><% end%>

<form action="/place_ship" method="post">
  <input value="placeship"  name="placeship" class="center-block" type="submit" href="/place_ship">
</form>