<html>

<% if @name  %>

    <h4>What's your name?</h4>
    <form action="/board">
    <input type="text" name="name" placeholder="Required" required/>
    <input type="submit" >
    </form>
<% elsif %>
    <a href="/play">"New Game"</a>
<% end %>

<% if @board %>
  <h3>Welcome to the board!</h3>
  <img src="http://i.imgur.com/GRRMF.png" />
  <% else %>
  <% end %>

</html>